.product-list{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    justify-content: space-around;
}
.publicite{
    display: flex;
    margin-top: 40px;
}
.btn{
    margin-left: 750px;
    margin-top: 20px;
    border: 1px solid #273c75;
    color: #273c75;
    background-color: white;
    border-radius: 20px;
    font-size: 1em;
    padding: 10px;
}
.btn:hover{
    color: white;
    border: 1px solid #273c75 ;
    background-color: #273c75;
}