.product-list{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    justify-content: space-evenly;
    margin-right: 0;
    padding-right: 0;
}
.publicite{
    display: flex;
    margin-top: 40px;
    margin-right: 0;
    padding-right: 0;
}
.btn{
    margin-left: 50%;
    margin-top: 20px;
    border: 1px solid #273c75;
    color: #273c75;
    background-color: white;
    border-radius: 20px;
    font-size: 1em;
    padding: 10px;
}
.btn:hover{
    color: white;
    border: 1px solid #273c75 ;
    background-color: #273c75;
}
@media (min-width: 768px) and (max-width:992px){
    .items{
        width: 30%;
        font-size: 0.8em;
    }
    .btn{
        margin-left: 50%;
    }
}

@media(min-width: 992px){
    .items{
        width: 30%;
        font-size: 1.1em;
    }
    .btn{
        margin-left: 50%;
    }
    .product-list{
        justify-content: space-evenly;
    }
}