<div *ngIf="initValue">
    <ul>
        <li [ngClass]="constainsCapitalLetter ? 'valid': 'invalid'" >Doit contenir une lettre majuscule</li>
        <li [ngClass]="containsLowerLetter ? 'valid': 'invalid'" >Doit contenir une lettre miniscule</li>
        <li [ngClass]="constainsNumber ? 'valid': 'invalid'">Doit contenir un chiffre</li>
        <li [ngClass]="containsSpecialChar ? 'valid': 'invalid'">Doit contenir un caratère spéciale</li>
        <li [ngClass]="isLenghtEightOrMore ? 'valid': 'invalid'">Minimum 08 caractères</li>
    </ul>
</div>