<div class="form">
    <h4 class="mb-4">Déjà client ?</h4>
    <div class="form-group">
        <label for="numero"><small>Numéro de telephone</small></label>
        <input type="number" id="numero">
    </div>
    <div class="form-group">
        <label for="password"><small>Mot de passe</small></label>
        <input type="password" id="password" value="password">
    </div>
    <div >
        <button class="login-button">Connexion</button>
    </div>
    <p><a href="">Mot de passe oublié ?</a></p>
</div>
<div class="registration-card">
    <h4 class="mb-4">Nouveau client ?</h4>
    <div >
        <button class="registration-button" (click)="goToRegistrationPage()">S'inscrire</button>
    </div>
</div>
