.form {
    box-sizing: border-box;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 50px auto 10px;
    width: 30%;
    border: none;
    padding: 50px 0px;
}
.form-group {
    display: flex;
    flex-direction: column;
    
}
input, button{
    width: 90%;
    margin: 0 20px 20px;
}
input{
    border: 1px solid #b6c2cd;
    background-color: #EFEFEF;
    outline: 0;
    height: 40px;
    margin-left: 10px;
}
label{
  margin-left: 10px;
}
button{
    padding: 5px;
    border-radius: 20px;
}
.login-button{
    background-color: #487eb0;
    color: white;
}
.registration-button {
    color: #487eb0;
    background-color: white;
}
p {
    text-align: right;
    margin-right: 10px;
}
.registration-card{
    box-sizing: border-box;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    margin: 10px auto 50px ; 
    width: 30%;
    border: none;
    padding: 10px 0px;
}
h4{
    margin-left: 10px;
}