<div class="form" [formGroup]="loginForm">
    <h3 class="logo" > Connexion </h3>
    <div class="country-form">
        <div class="form-group country-form1">
            <label for="country">Pays *</label>
            <select name="pays" id="id" formControlName="countryId">
                <option value="benin" class="country-flag" *ngFor="let c of countryFlag">{{getFlag(c)}}</option>
            </select>
        </div>
        <div class="form-group country-form2">
            <label for="numero">Numéro de telephone *</label>
            <input type="tel" id="numero" formControlName="phoneNumber">
        </div>
    </div>
    <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" placeholder="********" formControlName="password">
    </div>
    <div >
        <button class="login-button" (click)="onSubmitForm()" [disabled]="loginForm.invalid">Connexion</button>
        <button class="registration-button" (click)="goToRegistrationPage()">S'inscrire</button>
    </div>
    <p><a href="">Mot de passe oublié ?</a></p>
</div>
<!--div class="registration-card">
    <div class="button-group">
        
        <button class="registration-button" (click)="goToHome()">Retourner à l'acceuil</button>

    </div>
</div-->
