<div class="header">
    <h1 class="header-title">Achagro</h1>
    <div id="searchbar">
        <input type="text" placeholder="Qu'est ce qui vous ferait plaisir ?">
        <button class="btn"><i class="bi bi-search"></i></button>
    </div>
    <div class="header-link">
        <div id="header-link-elt-1">
            
            <a href="signin"><i class="bi bi-person"></i>Compte</a>
        </div>
        <div id="header-link-elt-2"> 
            <span class="article-counter" *ngIf="products.length>0">{{products.length}}</span>
            <a routerLink="panier"> <i class="bi bi-cart3"></i>Panier</a>
        </div>
    </div>
</div>
