.header {
    display: flex;
    background-color: #273c75; 
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

.header a{
    text-decoration: none;
    color: white;
    font-size: 1.0em;
}

#searchbar{
    display: flex;
    padding: 10px;
    width: calc(80% - 250px) ;
    height: 64.5px;
    border: none;
    font-size: 1em;
}

#searchbar button {
    height: 40px;
    background-color: white;
    border-left: none;
    padding-left: O ;
    border-radius: 0px 10px 10px 0px;
    border: 1px solid black;
    border-left: none;
}

#searchbar button:hover{
    background-color: #d1d8e0;
 }

input {
    padding: 10px;
    width: 100%;
    height: 90%;
    border: 1px solid black;
    border-radius: 10px 0px 0px 10px;
    margin-right: 0;
    border-right: none;
}
input:focus {
    outline: none;
}
.header-title{
    color: white;
    margin-left: 15px;
}
.header-link{
   display: flex;
   justify-content: space-between; 
   margin-right: 20px;
}
#header-link-elt-1 {
    margin-right: 20px;
}

#header-link-elt-2 {
    margin-left: 50px;
    position: relative;
}

.bi-search{
   font-size: 21px;
}

.bi-cart3{
    font-size: 28px;
    color: white;
}

.bi-person{
    font-size: 29px;
    color: white;
}
.article-counter{
    background-color: #e23a05;
    border-radius: 60%;
    color: white;
    font-size: 8px;
    text-align: center;
    position: absolute;
    display: inline-block;
    width: 15px;
    height: 15px;
    left: -5px;
    top: 15px;
    font-weight: bold;
}