<div class="header">
    <h1 class="header-title" (click)="goBackHome()">Achagro</h1>
    <div id="searchbar">
        <input type="text" placeholder="Qu'est ce qui vous ferait plaisir ?" [(ngModel)]="tag">
        <button class="btn" (click)="searchProduct()"><i class="bi bi-search"></i></button>
    </div>
    <div class="header-link">
        <div id="header-link-elt-1">
            <a href="signin"><i class="bi bi-person"></i><span class="icon-text">Compte</span></a>
        </div>
        <div id="header-link-elt-2"> 
            <span class="article-counter" *ngIf="products.length>0">{{products.length}}</span>
            <a routerLink="panier"> <i class="bi bi-cart3"></i><span class="icon-text">Panier</span></a>
        </div>
    </div>
</div>
