<div class="main">
    <!--ngb-carousel>
        <ng-template ngbSlide *ngFor="let product of products">
            <app-single-product  [product]="product.product"></app-single-product>
        </ng-template>
    </ngb-carousel-->
    <div class="icon icon-left">
        <i class="bi bi-chevron-left"></i>
    </div>
    <div class="products">
        <app-single-product *ngFor="let product of products" [product]="product.product"></app-single-product>
    </div>
    <div class="icon icon-right">
        <i class="bi bi-chevron-right"></i>
    </div>
</div>