<div class="articles-panier-container">
    <div class="articles-panier" *ngFor="let product of products">
        <div class="card mb-1 articles">
            <div class="row g-0">
                <div class="col-md-4 p-4">
                    <img src="../../assets/images/prod.jpg" class="img-fluid rounded-start articles-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{product.title}}</h5>
                        <p class="card-text"> {{product.description}} </p>
                        <p class="card-text price"> {{product.price}} FCFA</p>
                        <div class="card-link">
                            <span class="box"><a href="" (click)="removeFromBasket(product, $event)"
                                    class="removeArticleLink">Supprimer</a></span>
                            <form action="">
                                <select name="quantity" id="id" class="quantityInput" #quantity (change)="onQuantityChanges(+quantity.value, product)">
                                    <option value="1">1</option>
                                    <option value="2" >2</option>
                                    <option value="3" >3</option>
                                    <option value="4" >4</option>
                                    <option value="5" >5</option>
                                    <option value="6" >6</option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner"></div>
    </div>
</div>

<div class="total-price card">
    <h5 class="recap-text">Récapitulatif</h5>
    <div class="card-title">Total: <span>{{price}} FCFA</span></div>
    <button class="card-btn">Payer</button>
</div>