.articles {
    width: 70%;
}
.articles-panier-container{
    margin-top: 50px;
    margin-left: 100px;
}
.total-price{
    width: 20%;
    position: absolute;
    right: 50px;
    top: 100px;
    height: 200px;
    padding: 20px;
}

.card-btn{
    border: 2px solid #273c75;
    color: white;
    background-color: #273c75;
    border-radius: 20px;
    font-size: 0.8em;
    padding: 8px;
    position: absolute;
    bottom:15px;
    left:40px;
    right: 40px;
}
.card-btn:hover{
    color: white;
    border: 2px solid #142c6e;
    background-color: #142c6e;

}
.price{
    color: red;
    font-weight: 700;
}
.recap-text{
   position: absolute;
   top: -50px;
    left: -5px;
}
.total-price span {
    color: red;
    font-weight: 700;
    position: absolute;
    right: 10px
}
.banner{
    margin-top: 3px;
    margin-bottom: 25px;
    width: 70%;
    height: 50px;
    background-color: #fafafa;
}
.articles-img{
    width: 250px;
    height: 180px;
}
.card-link{
    display: flex;
    justify-content: flex-end;
    width: inherit;
    margin-right: 0px;
}
.quantityInput{
    width: 50px;
    margin-left: 50px;
}

.removeArticleLink{
    color: #878787;
    text-decoration: none;
}
.back-box{
    width: 20%;
    position: absolute;
    right: 50px;top: 310px;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
}

.back-button{
    border: 1px solid white;
    border-radius: 15px;
    width: 85%;
    color: #273c75;
    background-color: white;
    border-color: #273c75;
    border: 1px solid #273c75;
    border-radius: 20px;
    font-size: 0.8em;
    padding: 8px;
}
.back-button:hover{
    color: white;
    background-color: #273c75;
    border-color: white;
}
