<div class="form" [formGroup]="registrationForm">
    <h3 class="logo" > Achagro </h3>
    <h4 class="mb-4">Nouveau client ?</h4>
    <div class="form-group">
        <label for="numero">Numéro de telephone</label>
        <div class="country-options">
            <select name="pays" id="id">
                <option value="benin">(00229)</option>
                <option value="civ" >(00225)</option>
                <option value="civ" >(00226)</option>
                <option value="civ" >(00227)</option>
                <option value="civ" >(00228)</option>
                <option value="civ" >(00221)</option>
            </select>
            <input type="tel" id="numero">
        </div>
    </div>
    <div class="form-group">
        <label for="proprietaire">Choisir votre statut</label>
        <select name="proprietaire" id="proprietaire" formControlName="proprietaireCtrl">
            <option value="particulier">Particulier</option>
            <option value="restaurant" >Restaurant</option>
            <option value="comerçant" >Commerçant</option>
        </select>
    </div>
    <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" value="passwordpassword">
    </div>
    <div class="form-group">
        <label for="confirm-password">Confirmer votre mot de passe</label>
        <input type="password" id="confirm-password" value="passwordpassword">
    </div>
    <div class="drop" (dragover)="dragOverHandler($event)" (drop)="displayElt($event)">
        <span class="drop-button"><i class="bi bi-download"></i>
        </span>
        <p>{{piecedIdentiteMsg}}</p>
    </div>
    <div >
        <button class="login-button" type="submit" (click)="onSubmitForm()">Créer mon compte</button>
    </div>
</div>
<div class="registration-card">
    <h4 class="mb-4">Déjà client ?</h4>
    <div >
        <button class="registration-button" (click)="goToLoginPage()">Se connecter</button>
    </div>
</div>


<!--div class="form-card">
    <h2>Créer un compte</h2>
    <div class="form-group">
        <label for="name">Nom d'utilisateur</label>
        <input type="text" id="name">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email">
    </div>
    <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password">
    </div>

    <div class="form-group">
        <label for="repeat-password">Répetez le mot de passe</label>
        <input type="password" id="repeat-password">
    </div>
    <div class="action-buttons">
        <button>Connexion</button>
    </div>
    <p>Vous aviez déjà un compte ? <a href="signin">Se connecter</a></p>
</div-->