.carousel-img{
    height: 400px;
    width: 100%;
}
.carousel-control-prev, .carousel-control-next{
    color: white;
}
.bi-chevron-double-left, .bi-chevron-double-right{
    font-size: 70px;
}

@media (min-width: 768px) and (max-width:1200px){
    .carousel-img{
        height: 200px;
    }
}
@media (max-width: 768px){
    .carousel-img{
        height: 100px;
    }
    .bi-chevron-double-left, .bi-chevron-double-right{
        font-size: 1.1em;
    }
}