<div class="sub-footer">
    <div class="social-media">
        <i class="bi bi-instagram"></i>
        <i class="bi bi-meta"></i>
        <i class="bi bi-snapchat"></i>
        <i class="bi bi-tiktok"></i>
    </div>
</div>
<div class="footer">
    <ul>
        <li> 
            <span class="title-infos-footer"> SERVICES ET GARANTIES </span>  
            <div class="bloc-infos-footer"> 
                <a href="#"> Garanties et Assurances</a> 
                <br> 
                <a href="#"> Types de Produits Vendus </a> 
                <br>
                <a href="#"> Qualité De Nos Produits </a> 
                <br> 
                <a href="#"> Nos Magasins </a> 
            </div> 
        </li>

        <li> 
            <span class="title-infos-footer"> LIVRAISON ET PAIEMENT</span>  
            <div class="bloc-infos-footer"> 
                <a href="#"> Livraison À Domicile </a> 
                <br> 
                <a href="#"> Paiement Comptant </a> 
                <br> 
                <a href="#"> Paiement Différé 30 jours </a> 
                <br> 
                <a href="#"> Paiement Par Semaine </a> 
            </div> 
        </li>

        <li> 
            <span class="title-infos-footer"> CONTACTEZ-NOUS </span>  
            <div class="bloc-infos-footer"> 
                <a href="#">Contact Service Client</a> 
                <br> 
                <a href="#"> Contact Publicité </a> 
                <br>
                <a href="#"> Devenir Notre Fournisseur </a> 
                <br> 
                <a href="#"> Achagro recrute </a> 
                <br> 
                <a href="#"> FAQ </a> 
            </div> 
        </li>

        <li> 
            <span class="title-infos-footer"> INFORMATIONS LEGALES </span>  
            <div class="bloc-infos-footer"> 
                <a href="#">Conditions Générales de Vente</a> 
                <br> 
                <a href="#"> Conditions Générales d'Utilisation du site </a> 
                <br>
                <a href="#"> Mentions Légales </a> 
            </div> 
        </li>

    </ul>
</div>