.social-media{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 600px;
    margin-right: 600px;
}
.sub-footer{
    width: 100%;
    background-color: rgba(52, 152, 219, 0.75);
}
.sub-footer i{
    font-size: 30px;
    color: white;
}
.footer{
    background-color: #3498db;
}

.title-infos-footer{
    font-size: 16px;
    font-weight: bold;
}

.bloc-infos-footer{
    font-size: 14px;
}

a{
    color: white;
}
a:link{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

ul{
    
    padding-bottom: 0;
    height: 200px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

li{
    margin-top: 30px;
    color: white;
}