.social-media{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 600px;
    margin-right: 600px;
}
.sub-footer{
    width: 100%;
    background-color: rgba(39, 60, 117,0.75);
}
.sub-footer i{
    font-size: 30px;
    color: white;
}
.footer{
    background-color: #273c75;
}

.title-infos-footer{
    font-size: 16px;
    font-weight: bold;
}

.bloc-infos-footer{
    font-size: 14px;
}

a{
    color: white;
}
a:link{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

ul{
    
    padding-bottom: 0;
    height: 200px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

li{
    margin-top: 30px;
    color: white;
} 
p{
    text-align: center;
    color: gray;
}
@media (min-width: 768px) and (max-width:1200px){
    .social-media{
    width: 100%;
    justify-content:center;
    margin: auto;
    }
    .footer {
        font-size: 12px;
    }
    .social-media i {
        margin-left: 25px;
        margin-right: 25px;
    }
    .title-infos-footer{
        font-size: 14px;
    }
}

@media (max-width: 768px){
    p{
        font-size: 0.5em;
    }
    .bloc-infos-footer{
        font-size: 0.6em;
    }
    .social-media{
        width: 100%;
        justify-content:center;
        margin: auto;
        }
        .social-media i {
            margin-left: 3%;
            margin-right: 3%;
        }
        .title-infos-footer{
            font-size: 0.6em;
        }
}

@media(min-width: 992px){
    .social-media{
        width: 100%;
        justify-content:center;
        margin: auto;
        }
        .footer {
            font-size: 12px;
        }
        .social-media i {
            margin-left: 25px;
            margin-right: 25px;
        }
        .title-infos-footer{
            font-size: 14px;
        }
}